/* CSS de detail_demande */

h2, h3 {
text-align: center;
}

.encadre {
background: white;
border : solid 1px black;
margin: 0px 5px 10px 5px;
border-radius: 20px;
padding: 20px;
}

.encadre2 {
background: white;
border-top: solid 1px black;
margin: 20px 0px 20px 0px;
padding: 10px;
}

#boutons_detail_demande{
display: flex;
justify-content: center;
}

#flex2 {
display: flex;
justify-content: space-around; 
}

.flex2 {
display: flex;
justify-content: space-around; 
}

.bouton {
padding: 5px 10px 5px 10px;
border-radius: 4px;
width: 120px;
margin-left: 20px;
margin-right: 20px;
}


#champ_detail_demande{


}


/*
#demande_detail_demande {
display: none;
}

#reponse_detail_demande {
display: none;
}

#suivi_detail_demande {
display: none;  
}

#retour_client_detail_demande {
display: none; 
}
*/



.hidden {

}

.margin_top {
margin-top: 20px;
}

label {
font-weight: bold;
}